pouzite kniznice so far:
pandas

Task 1 - Data analysis:
(potrobnejšie info o data sete máme z https://www.kaggle.com/datasets/uciml/faulty-steel-plates )
Prvne sme zanalizovali veľkosť našeho data setu. Má 1941 položiek pričom každá položka má 34 stĺpcov.

Pokiaľ si zobereme čo aký stĺpec znamená, tak prvých 27 mi určuje parametre položky (v našom prípade sa jedná o Oceľové Pláty). Parametre sú celočíeslne hodnoty. Niektoré tieto parametre sú napríklad:

X_Minimum
X_Maximum
Y_Minimum
Y_Maximum
Pixels_Areas
X_Perimeter
Y_Perimeter
Sum_of_Luminosity
Minimum_of_Luminosity ...

Posledných 7 stĺpcov nám určuje či daná položka ma nejakú vadu. Prvých 6 je nejaká konkrétna vada a posledná sú nespecifikované vady. Tieto stĺpce máju boolovsku hodnotu (čiže 0 alebo 1). Pričom 0 znamená, že daná položka nemá túto vadu a 1 zase znamená, že túto vadu obsahuje. Možné vady sú:

    Pastry
    Z_Scratch
    K_Scatch
    Stains
    Dirtiness
    Bumps
    Other_Faults

In [5]:
import pandas as pd

df = pd.read_csv("data_set_basic.csv")
print(df.shape)
df.head()

(1941, 34)

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V25,V26,V27,V28,V29,V30,V31,V32,V33,Class
0,42,50,270900,270944,267,17,44,24220,76,108,...,0.8182,-0.2913,0.5822,1,0,0,0,0,0,1
1,645,651,2538079,2538108,108,10,30,11397,84,123,...,0.7931,-0.1756,0.2984,1,0,0,0,0,0,1
2,829,835,1553913,1553931,71,8,19,7972,99,125,...,0.6667,-0.1228,0.2150,1,0,0,0,0,0,1
3,853,860,369370,369415,176,13,45,18996,99,126,...,0.8444,-0.1568,0.5212,1,0,0,0,0,0,1
4,1289,1306,498078,498335,2409,60,260,246930,37,126,...,0.9338,-0.1992,1.0000,1,0,0,0,0,0,1